{#- We are using namespace() as jinja2 does not set variable inside for loop. With each iteration in loop, a new variable is created -#}
{#- Guide: https://andreas.scherbaum.la/post/2020-07-09_use-namespace-as-global-variable-in-ansible-jinja-templates/ -#}

{% set ns = namespace() %}
{%- set ns.shell_gnmic_cli = 'gnmic ' + '-a ' + target['gnmi_target']|string + ':' + gnmi_port|string + ' -u ' + gnmi_user + ' -p ' +  gnmi_pass -%}
{%- if skip_verify -%}
  {%- set ns.shell_gnmic_cli = ns.shell_gnmic_cli + ' --skip-verify ' -%}
{%- endif -%}
{%- if network_os == 'nxos' -%}
  {%- set ns.shell_gnmic_cli = ns.shell_gnmic_cli + ' ' + '--tls-ca ' + ' ' + tls_ca_dir + ' ' -%} 
{%- endif -%}
  {%- set ns.shell_gnmic_cli = ns.shell_gnmic_cli + action -%}
{%- if action == 'get' -%}
  {%- for each_path in path -%}
    {%- set ns.shell_gnmic_cli = ns.shell_gnmic_cli + ' --path ' + each_path -%}
  {%- endfor -%}
{%- endif -%}
{%- if debug  -%}
  {%- set ns.shell_gnmic_cli = ns.shell_gnmic_cli + ' --debug' -%}
{%- endif -%}
{{ ns.shell_gnmic_cli }}